.weather_wrapper {
    position: absolute;
    width: 25vw;
    height: 25vh;
    left: 50%;
    top: 50%;
    min-width: 300px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.sol {
    position: absolute;
    width: 75%;
    height: 75%;
}

.regn {
    position: absolute;
    width: 75%;
    height: 75%;
    top: 55%;
    /* left: 50%;
    top: 65%;
    transform: translate(-50%, -50%); */
}

.sky {
    position: absolute;
    width: 70%;
    height: 70%;
    top: -25%;
    z-index: 50;
}
.sky2 {
    position: absolute;
    width: 85%;
    height: 85%;
    top: -10%;
    left: 0;
    z-index: 55;
}

.temp-text {
    position: relative;
    top: 20%;
}